@font-face {
  font-family: 'Klein';
  src: url('Klein-Text-Book-trial.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Klein italic';
  src: url('Klein-Text-Book-Italic-trial.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Klein el';
  src: url('Klein-ExtraLight-trial.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Klein el italic';
  src: url('Klein-ExtraLight-Italic-trial.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Klein eb';
  src: url('Klein-Condensed-ExtraBold-trial.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Klein eb italic';
  src: url('Klein-Condensed-ExtraBold-Italic-trial.woff2') format('woff2');
  font-style: normal;
}

body/*inicia o comando de css*/
{
background-color:rgb(62, 124, 204);/*cor do fundo*/
color:rgb(255, 255, 255);/*cor do texto em geral*/
text-align: center;/*centraliza os textos no geral*/
letter-spacing: 3px;/*espaço entre caracteres*/
line-height: 1.5; /* espaço entre linhas*/
/*comentários*/
margin: 0px;
}

h2
{
  font-family: 'Klein el';
  margin-top: 60px;
}

.Introducao {
  background-color: rgb(80, 121, 168);
  padding-top: 1px;
  padding-bottom: 1px;
}

.Transcricao {
  background-color: rgb(80, 121, 168);
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 40px;
  h2
  {
margin-top: 20px;
  }
}

h1{  margin-top: 40px;
  font-family: 'Klein eb';
}

p
{
  font-family: 'Klein';
    margin-top: 30px;
}

img
{
margin-bottom: 80px;
margin-top: 40px;
}

.cabecalho
{
background-color: rgb(52, 82, 117);
margin-top: -20px;
margin-bottom: 20px;
padding-bottom: 20px;
padding-top: 1px;
}

a
{
font-family: 'Klein eb';
color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.01rem;
    background-color: transparent;
    text-decoration: none;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

iframe 
{
margin-bottom: 40px;
}

.images 
{
      transition: transform 0.4s ease, width 0.4s ease, box-shadow 0.4s ease;
      cursor: pointer;
}

.Javascript
{
  margin-top: 40px;
  margin-bottom: 40px;
}

.imagens {
  background-color: rgb(80, 121, 168);
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 40px;
}
 
.images:hover {
  transform: scale(1.3);
  box-shadow: 0px 0px 10px 10px black;
}